<div style="margin-top: -105px">
<div class="row justify-content-md-center text-center">
     <div class="col col-3 bg-white habilidades" style="border-radius: 15px 0 0 15px; box-shadow: 0 5px 5px 0 gray; border-radius: 0 15px 0 15px; box-shadow: 0 5px 5px 0 gray">
         <i class="bi-hdd-fill"></i>
         <h3>Back-end</h3>
         <p>
             Pruebas automaticas y puesta en producción con entregas continuas
         </p>
         <p class="text-primary cabecera">
             Stack:
         </p>
         <p>
             ASP.NET Core, SQl Server
         </p>
         <p  class="text-primary cabecera">
             Experiencia:
         </p>
         <ul>
             <li>Web APIs</li>
             <li>Rest Client</li>
             <li>Entity Framework Core</li>
             <li>Integración SAP-DotNet</li>
             <li>Queris</li>
             <li>ASP.NET Core MVC</li>
             <li>Principios SOLID</li>
         </ul>
     </div>

      @*  <div class="col col-3 bg-white">
          <h3>Front-end</h3>
          <p>Puedo crear frond-ends robustos los cuales cumplen con los requerimientos del negocio

          </p>
        <p class="text-primary cabecera">
             Stack:
         </p>
         <p>
             ASP.NET Core, SQl Server
         </p>
         <p  class="text-primary cabecera">
             Experiencia:
         </p>
         <ul>
             <li>Web APIs</li>
             <li>Rest Client</li>
             <li>Entity Framework Core</li>
             <li>Integración SAP-DotNet</li>
             <li>Queris</li>
             <li>ASP.NET Core MVC</li>
             <li>Principios SOLID</li>
         </ul>*@
     </div>
</div>