<div class="text-center">
    <h1 class="display-4">Soy Bryant Stewart</h1>
    <h2>Back-end developer especializado en tecnologías .NET</h2>

    <img id="foto"
    src="~/image/WhatsApp Image 2021-12-01 at 9.42.21 PM.jpeg" alt="Foto de Bryant"/>
</div>

<div class="text-center">
    <img id="imagen-dotnet" src="~/image/ASP-NET-Core-Logo-1.png" alt="foto de dotnet"/>

</div>

<div class="row justify-content-center text-center bg-primary">
    <div class="col col-md-7 seccion-bienvenida">
        <h1>Te doy la bienvenida a mi portafolio</h1>
          <p>
            Desarrollo de software desde el 2015 trabajando profesionalmente, para empresas tales como: RMC, Maritima Dominicana y Santo Domingo Motors;
            tuve el privilegio de trabajar 7 años en el estado dominicano en Sistema Unido de Beneficiarios (SIUBEN). Lo cual me permitió conocer los dos mundos, tanto el desarrollo del software como la parte administrativa de un proyecto (Project Management)
            todos estos puesto con tecnologías C#/ASP.NET, SQL, Entity Framework, entre otros.
        </p>
    </div>
</div>
