@{
	ViewData["Title"] = "Gracias";
}
<h1>Gracias por ponerte en contacto conmigo</h1>
<p>Te constestare el mensaje lo mas pronto prosible.</p>
<div><a asp-action="Index" asp-controller="Home">Volver al inicio</a></div>
